<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tSwitch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <tSwitch.Properties.Settings>
            <setting name="SQLDataSource" serializeAs="String">
                <value>HOSTNAME,1433\SQLEXPRESS</value>
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="TSVConfig" serializeAs="String">
                <value>d:\test.xml</value>
            </setting>
            <setting name="TSVConfigXPath" serializeAs="String">
                <value>configuration/appSettings/add[@key='ConnectionString']</value>
            </setting>
        </tSwitch.Properties.Settings>
    </applicationSettings>
</configuration>